/*colors: 
Pozadí stránky - #FAFAFA
Černá - #000000
Šedá - #8B8B8B
Primární modrá - #407BFF
Bílá - #FFFFFF
Světle modrá - #407BFF1F 

------------------------------------------------------------------------------------------------------------ */

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}

.maintext {
  max-width: 1040px;
  margin-left: 20px;
  margin-right: 20px;
}

.header {
  text-align: center;
}

.happytraveler {
  margin-top: 60px;
  width: 100%;
}

h1 {
  font-size: 28px;
}

h1, h2 {
  text-align: center;
}

h2 {
  font-size: 16px;
}

.line {
  border-bottom: 2px solid #407bff;
  width: 60px;
  margin: auto;
}

p {
  text-align: center;
  color: #8B8B8B;
  font-size: 16px;
}

button {
  display: block;
  padding: 11px 30px;
  border-radius: 20px;
  margin: auto;
  font-size: 14px;
}

.dobrodruzstvi {
  background-color: #407BFF;
  color: #fafafa;
  margin-bottom: 10px;
}

.pohoda {
  background-color:#8B8B8B;
  color:#fafafa;
}

.ikonky {
  background-color: white;
  margin-bottom: 10px;
  font-size: 13px;
  border-radius: 5%;
  display: flex;
  align-items: center;
  box-shadow: 5px 10px #407BFF1F ;
}

.ikonky img {
  flex-basis: 10%;
  padding: 20px;
}

.ikonky p {
  flex-basis: 90%;
  text-align: left;
  font-size: 13px;
  padding: 0px 15px 15px 15px;
}

.part2,
.part3 {
  margin-top: 80px;
}

@media screen and (min-width: 640px) {

.button {
  display: inline;
} 

.horniikonky {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.dolniikonky {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.ikonky {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.ikonky p {
  text-align: center;
}

}

@media screen and (min-width: 1100px) {

.header {
  display: flex;
  align-items: center;
}

.happytraveler {
  order: 2;
  max-width: 425px;
}

.headerleft {
  order: 1;
  text-align: left;
  margin-right: 60px;
}

h1 {
  text-align: left;
}

.header p {
  text-align: left;
}

.line {
  margin: 0%;
}

.part2,
.part3 {
  display: flex;
}

.horniikonky {
  order: 1;
  margin-right: 60px;
}

.righttext {
  order: 2;
}

.righttext h2, p {
  text-align: left;
}

.lefttext h2, p {
  text-align: left;
}

.lefttext {
  margin-right: 60px;
}

}